<!DOCTYPE html>
<html>
<head>
	<title>Twitter Sentiment Analysis</title>
</head>
<body>
	<p>Welcome to Twitter Sentiment Analysis App.</p>
	<p>What phrase would you like to analyze?</p>
	<form action="/testSentiment" method="POST">
		<p>
			Enter a phrase to evaluate: <input type="text" name="phrase">
			<br>
			<input type="submit" name="Go">
		</p>
	</form>
</body>
</html>